extends ../shared/userlayout

block header 
    include header 

block banner 
    include banner

block main 
    section#clients.clients.section-bg
        .container
            .row(data-aos='zoom-in')
                .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center
                    img.img-fluid(src='/assets/img/clients/client-1.png' alt='')
                .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center
                    img.img-fluid(src='/assets/img/clients/client-2.png' alt='')
                .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center
                    img.img-fluid(src='/assets/img/clients/client-3.png' alt='')
                .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center
                    img.img-fluid(src='/assets/img/clients/client-4.png' alt='')
                .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center
                    img.img-fluid(src='/assets/img/clients/client-5.png' alt='')
                .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center
                    img.img-fluid(src='/assets/img/clients/client-6.png' alt='')
    section#about.about
        .container(data-aos='fade-up')
            .section-title
                h2 Giới thiệu
            .row.content
                .col-lg-6
                    p
                        | Văn hóa tinh thần của người Việt trong ẩm thực chính là sự thể hiện nét đẹp trong văn hóa giao tiếp, là sự cư xử giữa người với người trong bữa ăn, làm vui lòng nhau qua thái độ ứng xử lịch lãm, có giáo dục. Việc ăn uống đều có những phép tắc, lề lối riêng, từ bản thân, đến trong gia đình, rồi các mối quan hệ ngoài xã hội.
                        | Với 54 dân tộc sống trên nhiều vùng địa lý đa dạng khắp toàn quốc, ẩm thực của mỗi dân tộc trong cộng đồng các dân tộc Việt Nam đều có bản sắc riêng biệt. Rất nhiều món trong số đó ít được biết đến tại các dân tộc khác, như các món thịt lợn sống trộn phèo non của các dân tộc Tây Nguyên. 

                .col-lg-6.pt-4.pt-lg-0
                    p
                        | Tuy nhiên, nhiều món ăn đã trở thành đặc sản trên đất nước Việt Nam và được nhiều người biết đến, như mắm bò hóc miền Nam, bánh cuốn trứng (Cao Bằng, Lạng Sơn), bánh coóng phù (bánh trôi dân tộc Tày, xuất xứ từ bánh trôi tàu của người Hoa), lợn sữa và vịt quay mắc mật (quả mặt), khâu nhục Lạng Sơn (ảnh hưởng từ Quảng Đông, Trung Quốc), phở chua, cháo nhộng ong, phở cốn sủi, thắng cố, các món xôi nếp nương của người Mường, thịt chua Thanh Sơn (Phú Thọ)...
    section#pricing.pricing
        .container(data-aos='fade-up')
            .section-title
                h2 Dịch vụ
            .row
                - delay = 100
                each item in obj.productData
                    - price = new Intl.NumberFormat('vi-VN', { maximumSignificantDigits: 3 }).format(item.price)
                    .col-lg-4.mt-4.mt-lg-0(data-aos='fade-up' data-aos-delay=delay)
                        .box
                            h3 #{item.name}
                            h4
                                if item.price == 0
                                    | Free
                                else 
                                    | #{price}
                                    sup  VNĐ
                            ul
                                if item.cake_recipe == 0
                                    li.na
                                        i.bx.bx-x
                                        span Cake Recipe
                                else
                                    li
                                        i.bx.bx-check
                                        |  Cake Recipe
                                if item.asian_recipe == 0
                                    li.na
                                        i.bx.bx-x
                                        span Asian Recipe
                                else
                                    li
                                        i.bx.bx-check
                                        |  Asian Recipe
                                if item.european_recipe == 0
                                    li.na
                                        i.bx.bx-x
                                        span European Recipe
                                else
                                    li
                                        i.bx.bx-check
                                        |  European Recipe
                                if item.global_recipe == 0
                                    li.na
                                        i.bx.bx-x
                                        span Global Recipe
                                else
                                    li
                                        i.bx.bx-check
                                        |  Global Recipe
                                if item.message_chef == 0
                                    li.na
                                        i.bx.bx-x
                                        span Message Chef 
                                else
                                    li
                                        i.bx.bx-check
                                        |  Message Chef
                            if item.name != 'Member'
                                if session.isLoggedIn 
                                    if session.level != item.id
                                        if session.level != 27
                                            a.buy-btn(href='/shoppingcart/'+item.id) Thêm vào giỏ hàng
                                        else 
                                            button#buyy-btn(href='/shoppingcart/'+item.id disabled) Thêm vào giỏ hàng
                                    else 
                                        button#buyy-btn(href='/shoppingcart/'+item.id disabled) Thêm vào giỏ hàng
                                else
                                    a.buy-btn(href='/shoppingcart/'+item.id) Thêm vào giỏ hàng
                            else
                                button#buyy-btn(href='/shoppingcart/'+item.id disabled) Thêm vào giỏ hàng

                    - delay += 100
    section#team.team.section-bg
        .container(data-aos='fade-up')
            .section-title
                h2 Bài học
            .row.g-4
                each item in obj.postData
                    .col-lg-3
                        a(href="/post/"+item.id style="color: inherit")
                            .card
                                img.card-img-top(src="/upload/"+ item.thumbnail alt="Card image cap" height="250")
                                .card-body
                                    h6.card-text #{item.title}&nbsp
                                        if item.name == 'Global Recipe'
                                            span.badge.badge-warning
                                                |  Premium
                                        else if item.name == 'Asian Recipe' || item.name == 'European Recipe'
                                            span.badge.badge-primary 
                                                | Standard
                                        else 
                                            span.badge.badge-secondary 
                                                | Member
                                    p.m-0 Đăng ngày: #{item.created_at}
                a.text-end(href="/post") Xem thêm >>
    section#faq.faq.section-bg
        .container(data-aos='fade-up')
            .section-title
                h2 FAQ
                button#btn-getInTouch(hidden)
            .faq-list
                ul
                    each item in obj.faqData
                        li(data-aos='fade-up' data-aos-delay='100')
                            i.bx.bx-help-circle.icon-help
                            a.collapse(data-bs-toggle='collapse' data-bs-target='#content'+item.id)
                                | #{item.question} 
                                i.bx.bx-chevron-down.icon-show
                                i.bx.bx-chevron-up.icon-close
                            .collapse(id="content"+item.id data-bs-parent='.faq-list')
                                p
                                    | #{item.answer}  
                            
    

        
block footer 
    include footer
